<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Artifactory" value="https://artifactory.mycorp/artifactory/api/nuget/nuget-release" />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <Artifactory>
      <add key="Username" value="your_artifactory_user" />
      <add key="ClearTextPassword" value="your_token_or_password" />
    </Artifactory>
  </packageSourceCredentials>
</configuration>
